@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	// ================================
	// INTRO
	// ================================
	.intro
		max-height: 879px
		&__wrap
			margin: 50px 0
		&__content
			margin-left: 25px
			padding-top: 0
		&__phone-img
			padding-top: 0
	// ================================
	// RECIPES
	// ================================
	.recipes-statistic
		&__count
			font-size: 30pt
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	// ===================================
	// HEADER
	// ===================================

	.header
		&__content
			h1
				.small-header-text
					font-size: 25pt
				.big-header-text
					font-size: 75pt
			p
				font-size: 10pt

	// ================================
	// INTRO
	// ================================

	.intro
		&__phone-img
			display: none
		&__content
			padding-top: 0 !important

	// ================================
	// RECIPES
	// ================================

	.recipes
		&__items-wrap
			margin-bottom: 20px
			justify-content: center
		&__item-wrap
			flex-basis: 25%
	.recipes-statistic
		&__count
			font-size: 24pt
		&__desc
			font-size: 14pt
		&__items-wrap
			justify-content: center
			flex-wrap: wrap
		&__item
			flex-basis: 33%
			margin-top: 10px

	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) , screen and (max-height : 800px)
	// ===================================
	// BUTTONS
	// ===================================

	.btn-white-border
		font-size: 12pt

	// ===================================
	// HEADER
	// ===================================
		
	.header
		&__bg
			height: 580px
		&__bg-gradient
			height: 127px
		&__content
			top: 165px
			h1
				.small-header-text
					font-size: 22pt
				.big-header-text
					font-size: 72pt
			p
				font-size: 10pt

	// ================================
	// ADVANTAGES
	// ================================

	.advantages
		&__items-wrap
			margin: 40px auto
		&__items-wrap
			flex-wrap: wrap
		&__item
			flex-basis: 100%
			&:nth-child(2)
				margin: 0
				.advantages__item-icon
					line-height: 3.2
		&__item-icon
			width: 70px
			height: 70px
			overflow: hidden
			line-height: 3
			display: block
			img
				width: 40px
		&__item-title
			margin-bottom: 0
			margin-top: 5px
		&__item-text
			width: 100%
			text-align: justify
	// ================================
	// RECIPES
	// ================================

	.recipes
		&__item-wrap
			flex-basis: 50%

	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	// ===================================
	// BUTTONS
	// ===================================
	.btn-white-border
		font-size: 10pt
		width: 200px
		margin: 16px auto 22px auto

	// ===================================
	// HEADER
	// ===================================
		
	.header
		&__content
			h1
				.small-header-text
					font-size: 16pt
				.big-header-text
					font-size: 40pt
			p
				font-size: 10pt

	// ================================
	// INTRO
	// ================================
	.intro
		&__title
			font-size: 14pt
			font-weight: 700
		&__content
			padding-right: 10px
			margin-left: 0
		&__content-text
			font-weight: 300
			font-size: 13pt
			margin-bottom: 14px
			text-align: justify
	
	// ================================
	// Comments
	// ================================
	.comments
		&__text
			font-size: 13pt

	// ================================
	// RECIPES
	// ================================

	.recipes
		&__item-wrap
			flex-basis: 100%
	.recipes-statistic
		&__item
			flex-basis: 50%

	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	// ================================
	// INTRO
	// ================================
	.intro
		&__phone-img
			padding-top: 50px
		&__content
			padding-top: 100px
		&__bg-photo-phone
			top: 210px
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	// ================================
	// INTRO
	// ================================
	.intro
		&__content-text
			p
				margin-top: 25px
	/**/

