@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16pt
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $lato-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.text-uppercase
	text-transform: uppercase
.text-underline
	text-decoration: underline

::selection
	background-color: $accent
	color: #fff

.orange-outline
	position: relative
	&:after
		content: ""
		position: absolute
		bottom: -3px
		width: 88px
		border-bottom: 1px solid $orange
		left: 50%
		transform: translateX(-50%)

// ===============================
// BUTTONS
// ===============================

// White border btn
.btn-white-border
	position: relative
	margin: auto
	color: $white
	display: block
	padding: 10px
	border: 3px solid $white
	font-family: $lato-font
	font-size: 14pt
	width: 280px
	transition: all .3s
	margin: 30px auto 40px auto
	&:hover
		background: rgba($white, .6)
		color: $purple

// ================================
// HEADER
// ================================

.header
	position: relative
	width: 100%
	overflow: hidden
	&__bg
		background-image: url(../img/header.png)
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		height: 880px
		position: relative
	&__bg-gradient
		position: absolute
		width: 100%
		height: 227px
		bottom: 0
		background-image: url(../img/header-gradient.png)
		background-repeat: no-repeat
		background-size: cover
		background-position: 0 0
	&__content
		color: $white
		position: relative
		top: 315px
		font-family: $lato-font
		a
			color: $white
			text-decoration: none
		h1
			margin: 0
			line-height: 1
			span
				display: block
			.small-header-text
				font-family: $header-small-text
				font-size: 30pt
				color: rgba($white, .8)
			.big-header-text
				font-weight: bold
				font-size: 85pt
				line-height: 1.1
		p
			font-size: 12pt
		
// ================================
// ADVANTAGES
// ================================

.advantages
	background-color: $white
	position: relative
	&__items-wrap
		margin: 80px auto
		display: flex
		justify-content: space-around
	&__item
		padding: 10px
		position: relative
		&:nth-child(2)
			margin: 0 30px
			.advantages__item-icon
				line-height: 4.8
	&__item-icon
		width: 107px
		height: 107px
		position: relative
		margin: auto
		border-radius: 50%
		border: 2px solid $black
		line-height: 4.3
	&__item-title
		font-weight: 700
		font-size: 16pt
	&__item-text
		font-weight: 300
		font-size: 12pt

// ================================
// INTRO
// ================================
.intro
	background: rgba($black, .03)
	position: relative
	overflow: hidden
	&__phone-img
		width: 523px
		position: relative
	&__bg-photo-phone
		position: absolute
		top: 160px
		left: 43px
	&__wrap
		margin-top: 100px
		display: flex
	&__content
		position: relative
		margin-left: 115px
		padding-top: 80px
		.orange-outline:after
			left: 0
			transform: translateX(0)
	&__title
		font-size: 16pt
		font-weight: 700
	&__content-text
		font-weight: 300
		font-size: 13pt
		margin-bottom: 14px

// ================================
// INTRO
// ================================
.comments
	position: relative
	&__bg
		position: relative
		width: 100%
		padding: 80px
		&:before
			content: ""
			position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 0
			background: url(../img/comments/bg-image.jpg)
			background-repeat: no-repeat
			background-position: 0 0
			background-size: cover
			opacity: .1
		&:after
			content: ""
			position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 0
			background: rgba(darken($purple, 12%), .7)
	&__author-photo
		position: relative
		width: 110px
		height: 110px
		overflow: hidden
		border-radius: 50%
		border: 5px solid rgba($white, .3)
		margin: auto
	&__text
		color: rgba($white, .6)
		font-weight: 300
		font-size: 18pt
	&__author-name
		@extend .comments__text
		font-size: 14pt
	// Owl Carousel
	.owl-dots
		position: relative
		text-align: center
		.owl-dot
			width: 10px
			height: 10px
			background: rgba($white, .5)
			border-radius: 50%
			margin: 5px
			outline: none
			&.active
				background: $white

// ================================
// RECIPES
// ================================
.recipes
	position: relative
	width: 100%
	padding-top: 60px
	padding-bottom: 60px
	a:hover
		color: $white
	&__title
		font-size: 16pt
		margin-top: 30px
	&__items-wrap
		margin-top: 45px
		margin-bottom: 60px
		display: flex
		flex-wrap: wrap
		width: 100%
	&__item-wrap
		flex-basis: 20%
		position: relative
		color: $white
		display: block
		transition: all 1s
		overflow: hidden
		&:hover .recipes__photo img
			transform: rotate(10deg) scale(1.5)
			transition: all 1s
		&:after
			content: ""
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			background: rgba($black, .2)
			z-index: 2
			transition: all 1s
		&:hover:after
			background: rgba($purple, .8)
	&__photo
		width: 100%
		img
			width: 100%
			transition: all 1s
	&__info
		position: absolute
		width: 100%
		top: 50%
		transform: translateY(-50%)
		z-index: 3
	&__count
		display: block
		width: 100%
		text-align: center
		font-family: $header-small-text
		font-size: 14pt
	&__category
		display: block
		width: 100%
		text-align: center
		font-size: 26pt
		font-weight: 700
		line-height: 1
.recipes-statistic
	position: relative
	font-family: $lato-font
	&__items-wrap
		display: flex
		justify-content: space-between
		margin: 0
	&__item
		flex-basis: 20%
	&__count
		font-size: 36pt
		font-weight: 700
		display: block
		text-align: center
		line-height: 1.1
	&__desc
		display: block
		text-align: center
		font-size: 14pt
		font-weight: 300

// ================================
// FOOTER
// ================================

.footer
	position: relative
	width: 100%
	background: rgba($black, .03)
	border-top: 1px solid rgba($black, .09)
	&__copyright
		font-size: 12pt
		color: rgba($black, .3)
		margin: 30px

@import "media" // Всегда в конце
